@use "styles/helpers" as *;

.home {
    background: var(--bg-mobile), var(--main-bg);
    min-height: 100vh;

    @include breakpoint($medium) {
        background: var(--bg-tablet), var(--main-bg);
        background-repeat: no-repeat;
    }
    @include breakpoint($large) {
        background: var(--bg-desktop), var(--main-bg);
        background-repeat: no-repeat;
    }
}
.home_container {
    width: 90%;
    max-width: 90%;
    margin-inline: auto;
    @include breakpoint($large) {
        max-width: 72.5rem;
    }
}

.main {
    padding-block: 2rem;
    @include breakpoint($medium) {
        padding-block: 4rem;
    }
    @include breakpoint($large) {
        padding-block: initial;
        padding-bottom: 10rem;
    }
}
